<%- include('../partials/header') %>

<%- include ../partials/reportHeader %>


<div style="max-width:500px;margin:0 auto">
	<center>
		Adaams &amp; Family Inc.<br>
		Balance Sheet<br>
		At <%=dateFormat(endDate, 'LL')%>
	</center>
	
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th colspan="3">Assets</th>
			</tr>
		</thead>
		<% var totals = 0 %>
		
		<% var firstAccountDollarSign = true; var firstTotalDollarSign = true; %>
		<% for (var subType of assetSubTypes) { %>
			<% if (subType != '') { 
				totals = 0; %>
				<tr>
					<td colspan="3"><%=subType%></td>
				</tr>
			<% } %>
			<% for (var balance of assets) { 
				if (balance.SubAccountType != subType) continue; %>
				<% totals += balance.Value %>
				<tr>
					<td><a href="/account/<%=balance.AccountNumber%>" <%-(subType != '' ? 'style="padding-left:2em"' : "")%>><%=balance.AccountName%></a></td>
					<td class="text-right col-sm-3" <%-(subType == '' ? 'colspan="2"' : "")%>>
						<% if ((subType != '' && firstAccountDollarSign) || (subType == '' && firstTotalDollarSign)) { %>
							<%-balanceFormat(balance.Value)%>
							<% if ((subType != '' && firstAccountDollarSign)) firstAccountDollarSign = false
						   else firstTotalDollarSign = false %>
						<% } else { %>
							<%-balanceFormat(balance.Value).replace("$","")%>
						<% } %>
					</td>
					<% if (subType != '') { %> <td></td> <% } %>
				</tr>
			<% } %>
			<% if (subType != '') { %>
				<tr>
					<td><%=subType%> Total</td>
					<td style="border-top:1px solid #999"></td>
					<th class="text-right col-sm-3">
						<% if (firstTotalDollarSign) { %>
							<%-balanceFormat(totals)%>
							<% firstTotalDollarSign = false %>
						<% } else { %>
							<%-balanceFormat(totals).replace("$","")%>
						<% } %>
					</th>
				</tr>
			<% } %>
		<% } %>
		<tr>
			<th>Total Assets</th>
			<th></th>
			<th class="text-right col-sm-3" style="border-bottom:4px double #999;border-top:1px solid #999">
				<% if (firstTotalDollarSign) { %>
					<%-balanceFormat(totalAssets)%>
					<% firstTotalDollarSign = false %>
				<% } else { %>
					<%-balanceFormat(totalAssets).replace("$","")%>
				<% } %>
			</th>
		</tr>
	</table>
	
	
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th colspan="3">Liabilities</th>
			</tr>
		</thead>
		<% var firstAccountDollarSign = true; %>
		<% for (var subType of liabilitiesSubTypes) { %>
		<% if (subType != '') { 
				totals = 0; %>
			<tr>
				<td colspan="3"><%=subType%></td>
			</tr>
		<% } %>
		<% for (var balance of liabilities) { 
			if (balance.SubAccountType != subType) continue; %>
			<% totals += balance.Value %>
			<tr>
				<td><a href="/account/<%=balance.AccountNumber%>" <%-(subType != '' ? 'style="padding-left:2em"' : "")%>><%=balance.AccountName%></a></td>
				<td class="text-right col-sm-3" <%-(subType == '' ? 'colspan="2"' : "")%>>
					<% if ((subType != '' && firstAccountDollarSign) || (subType == '' && firstTotalDollarSign)) { %>
						<%-balanceFormat(balance.Value)%>
						<% if ((subType != '' && firstAccountDollarSign)) firstAccountDollarSign = false
						   else firstTotalDollarSign = false %>
					<% } else { %>
						<%-balanceFormat(balance.Value).replace("$","")%>
					<% } %>
				</td>
				<% if (subType != '') { %> <td></td> <% } %>
			</tr>
			<% } %>
			<% if (subType != '') { %>
				<tr>
					<td><%=subType%> Total</td>
					<td style="border-top:1px solid #999"></td>
					<th class="text-right col-sm-3">
						<% if (firstTotalDollarSign) { %>
							<%-balanceFormat(totals)%>
							<% firstTotalDollarSign = false %>
						<% } else { %>
							<%-balanceFormat(totals).replace("$","")%>
						<% } %>
					</th>
				</tr>
			<% } %>
		<% } %>
		<tr>
			<th>Total Liabilities</th>
			<th></th>
			<th class="text-right col-sm-3" style="border-bottom:1px solid #999;border-top:1px solid #999">
				<% if (firstTotalDollarSign) { %>
					<%-balanceFormat(totalLiabilities)%>
					<% firstTotalDollarSign = false %>
				<% } else { %>
					<%-balanceFormat(totalLiabilities).replace("$","")%>
				<% } %>
			</th>
		</tr>
	</table>
	
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<td colspan="3"><%=subType%></td>
			</tr>
		</thead>
		<% var firstAccountDollarSign = true %>
		<% for (var subType of equitiesSubTypes) { %>
			<% if (subType != '') { 
				totals = 0; %>
				<tr>
					<td><%=subType%></td><td></td>
				</tr>
			<% } %>
			<% for (var balance of equities) {
				if (balance.SubAccountType != subType) continue; %>
				<% totals += balance.Value %>
				<tr>
					<td><a href="/account/<%=balance.AccountNumber%>" <%-(subType != '' ? 'style="padding-left:2em"' : "")%>><%=balance.AccountName%></a></td>
					<td class="text-right col-sm-3" <%-(subType == '' ? 'colspan="2"' : "")%>>
						<% if ((subType != '' && firstAccountDollarSign) || (subType == '' && firstTotalDollarSign)) { %>
							<%-balanceFormat(balance.Value)%>
							<% if ((subType != '' && firstAccountDollarSign)) firstAccountDollarSign = false
						    else firstTotalDollarSign = false %>
						<% } else { %>
							<%-balanceFormat(balance.Value).replace("$","")%>
						<% } %>
					</td>
					<% if (subType != '') { %> <td></td> <% } %>
				</tr>
			<% } %>
			<% if (subType != '') { %>
				<tr>
					<td><%=subType%> Total</td>
					<td style="border-top:1px solid #999"></td>
					<th class="text-right col-sm-3">
						<% if (firstTotalDollarSign) { %>
							<%-balanceFormat(totals)%>
							<% firstTotalDollarSign = false %>
						<% } else { %>
							<%-balanceFormat(totals).replace("$","")%>
						<% } %>
					</th>
				</tr>
			<% } %>
		<% } %>
		<tr>
			<th>Total Equity</th>
			<th></th>
			<th class="text-right col-sm-3" style="border-bottom:1px solid #999;border-top:1px solid #999">
				<% if (firstTotalDollarSign) { %>
					<%-balanceFormat(totalEquities)%>
					<% firstTotalDollarSign = false %>
				<% } else { %>
					<%-balanceFormat(totalEquities).replace("$","")%>
				<% } %>
			</th>
		</tr>
	</table>
	
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th colspan="2">Total Liabilities and Equity</th>
				<th class="text-right col-sm-3" style="border-bottom: 4px double #999"><%-balanceFormat(totalLiabilities + totalEquities) %></th>
			</tr>
		</thead>
	</table>
	
</div>

<%- include('../partials/footer') %>