<%- include('../partials/header') %>

<%- include ../partials/reportHeader %>


<div style="max-width:500px;margin:0 auto">
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th colspan="2">Revenues</th>
			</tr>
		</thead>
		<% var firstAccountDollarSign = true, totalRevenue = 0; %>
		<% for (var balance of revenues) { totalRevenue += balance.Value %>
			<tr>
				<td><a href="/account/<%=balance.AccountNumber%>"><%=balance.AccountName%></a></td>
				<td class="text-right">
					<% if (firstAccountDollarSign) { %>
						<%-balanceFormat(balance.Value)%>
						<% firstAccountDollarSign = false %>
					<% } else { %>
						<%-balanceFormat(balance.Value).replace("$","")%>
					<% } %>
				</td>
			</tr>
		<% } %>
		<tr>
			<th>Total Revenues</th>
			<th class="text-right" style="border-bottom:4px double #999;border-top:1px solid #999">
				<% if (firstAccountDollarSign) { %>
					<%-balanceFormat(totalRevenue)%>
					<% firstAccountDollarSign = false %>
				<% } else { %>
					<%-balanceFormat(totalRevenue).replace("$","")%>
				<% } %>
			</th>
		</tr>
	</table>
	
	
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th colspan="3">Expenses</th>
			</tr>
		</thead>
		<% var firstAccountDollarSign = true, totalExpense = 0; %>
		<% for (var balance of expenses) { totalExpense += balance.Value %>
			<tr>
				<td><a href="/account/<%=balance.AccountNumber%>"><%=balance.AccountName%></a></td>
				<td class="text-right">
					<% if (firstAccountDollarSign) { %>
						<%-balanceFormat(balance.Value)%>
						<% firstAccountDollarSign = false %>
					<% } else { %>
						<%-balanceFormat(balance.Value).replace("$","")%>
					<% } %>
				</td>
			</tr>
		<% } %>
		<tr>
			<th>Total Expenses</th>
			<th class="text-right" style="border-bottom:4px double #999;border-top:1px solid #999">
				<% if (firstAccountDollarSign) { %>
					<%-balanceFormat(totalExpense)%>
					<% firstAccountDollarSign = false %>
				<% } else { %>
					<%-balanceFormat(totalExpense).replace("$","")%>
				<% } %>
			</th>
		</tr>
	</table>


	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th colspan="2">Net Income</th>
				<th class="text-right"><%-balanceFormat(totalRevenue - totalExpense) %></th>
			</tr>
		</thead>
	</table>
</div>

<%- include('../partials/footer') %>