<tr>
	<% var firstDebitDollarSign = true, firstCreditDollarSign = true; %>
	<td rowspan="<%= entry.transactions.length + 1 %>"><%=dateFormat(entry.CreatedDate,'LL')%></td>
	<% for (var i in entry.transactions) { var transaction = entry.transactions[i]; %>
		<% if (transaction.account.AccountType.IncreaseEntry == 'DEBIT' && transaction.Value >= 0 || transaction.account.AccountType.IncreaseEntry == 'CREDIT' && transaction.Value <= 0) { %>
			<td><a href="/account/<%=transaction.account.AccountNumber%>"><%=transaction.account.AccountName%></a></td>
		<% } else { %>
			<td><a href="/account/<%=transaction.account.AccountNumber%>" style="padding-left:2em"><%=transaction.account.AccountName%></a></td>
		<% } %>
		<td style="text-align:right">
			<% if (transaction.account.AccountType.IncreaseEntry == 'DEBIT' && transaction.Value >= 0 || transaction.account.AccountType.IncreaseEntry == 'CREDIT' && transaction.Value < 0) { %>
				<% if (firstDebitDollarSign) { %>
					<%-balanceFormat(Math.abs(transaction.Value))%>
					<% firstDebitDollarSign = false %>
				<% } else { %>
					<%-balanceFormat(Math.abs(transaction.Value)).replace("$","")%>
				<% } %>
				</td><td></td>
			<% } else { %>
				</td><td style="text-align:right">
				<% if (firstCreditDollarSign) { %>
					<%-balanceFormat(Math.abs(transaction.Value))%>
					<% firstCreditDollarSign = false %>
				<% } else { %>
					<%-balanceFormat(Math.abs(transaction.Value)).replace("$","")%>
				<% } %>
				</td>
			<% } %>
		</td>
		<% if (i == 0) { %>
			<td rowspan="<%= entry.transactions.length + 1 %>" class="text-right">
				<% if (entry.State == "PENDING") { %>
					<span class="label label-info">Pending</span><br><br>
					<button onclick="post(<%=entry.EntryId%>);return false" class="btn btn-xs btn-success">Post</button>
					<button onclick="decline(<%=entry.EntryId%>);return false" class="btn btn-xs btn-danger">Decline</button>
				<% } else if (entry.State == "APPROVED") { %>
					<span class="label label-success">Posted</span>
				<% } else { %>
					<span class="label label-danger">Declined</span>
					<br>
					<span class="text-danger"><%=entry.DeclinedReason%></span>
				<% } %>
			</td>
			<td rowspan="<%= entry.transactions.length + 1 %>" class="text-right">
				<% if (entry.State == "PENDING") { %>
					<a class="btn btn-xs btn-link" href="/entry/<%=entry.EntryId%>">Edit</a><br>
				<% } else { %>
					<a class="btn btn-xs btn-link" href="/entry/<%=entry.EntryId%>">Details</a><br>
				<% } %>				
			</td>
		<% } %>
</tr>
<tr>
	<% } %>
	<td>
		<% if (entry.Type == "CLOSING") { %>
			<span class="label label-warning"><%=entry.Type%></span>
		<% } else if (entry.Type == "ADJUSTING") { %>
			<span class="label label-info"><%=entry.Type%></span>
		<% } %>
		<%=entry.Description%>
	</td>
	<td></td>
	<td></td>
	<% if (entry.transactions.length == 0) { %>
		<td rowspan="<%= entry.transactions.length + 1 %>" class="text-right">
			<% if (entry.State == "PENDING") { %>
				<span class="label label-info">Pending</span><br><br>
				<button onclick="post(<%=entry.EntryId%>);return false" class="btn btn-xs btn-success">Post</button>
				<button onclick="decline(<%=entry.EntryId%>);return false" class="btn btn-xs btn-danger">Decline</button>
			<% } else if (entry.State == "APPROVED") { %>
				<span class="label label-success">Posted</span>
			<% } else { %>
				<span class="label label-danger">Declined</span>
				<br>
				<span class="text-danger"><%=entry.DeclinedReason%></span>
			<% } %>
		</td>
		<td rowspan="<%= entry.transactions.length + 1 %>" class="text-right">
			<% if (entry.State == "PENDING") { %>
				<a class="btn btn-xs btn-link" href="/entry/<%=entry.EntryId%>">Edit</a><br>
			<% } else { %>
				<a class="btn btn-xs btn-link" href="/entry/<%=entry.EntryId%>">Details</a><br>
			<% } %>
		</td>
	<% } %>
</tr>
<!--<tr style="margin-bottom: 1em">
	<td></td>
	<td></td>
	<td style="border-bottom:4px double #999;border-top:1px solid #999;text-align:right">
		<% if (firstDebitDollarSign) { %>
			<b><%-balanceFormat(Math.abs(entry.totalDebits))%></b>
			<% firstDebitDollarSign = false %>
		<% } else { %>
			<b><%-balanceFormat(Math.abs(entry.totalDebits)).replace("$","")%></b>
		<% } %>
	</td>
	<td style="border-bottom:4px double #999;border-top:1px solid #999;text-align:right">
		<% if (firstCreditDollarSign) { %>
			<b><%-balanceFormat(Math.abs(entry.totalCredits))%></b>
			<% firstCreditDollarSign = false %>
		<% } else { %>
			<b><%-balanceFormat(Math.abs(entry.totalCredits)).replace("$","")%></b>
		<% } %>
	</td>
	<td></td>
	<td></td>
</tr>-->
<tr><td style="border:none;height:2em" colspan="6"></td></tr>