<ul class="sidebar-nav">
	<li class="sidebar-brand">
		SWE4713 - Accounting
	</li>
	<li <%- (path == '/' ? 'class="active"' : "")%>>
		<a href="/">Dashboard</a>
	</li>
	<li <%- (path.indexOf("/account") == 0 ? 'class="active"' : "")%>>
		<a href="/accounts">Accounts</a>
	</li>
	<li <%- (path.indexOf("/entr") == 0 ? 'class="active"' : "")%>>
		<a href="/entries">Entries</a>
	</li>
	<li class="parent">
		<a>Reports</a>
		<ul>
			<li <%- (path.indexOf("/reports/trial-balance") == 0 ? 'class="active"' : "")%>>
				<a href="/reports/trial-balance">Trial Balance</a>
			</li>
			<li <%- (path.indexOf("/reports/income-statement") == 0 ? 'class="active"' : "")%>>
				<a href="/reports/income-statement">Income Statment</a>
			</li>
			<li <%- (path.indexOf("/reports/retained-earnings") == 0 ? 'class="active"' : "")%>>
				<a href="/reports/retained-earnings">Retained Earnings</a>
			</li>
			<!--<li <%- (path.indexOf("/reports/closing-balance") == 0 ? 'class="active"' : "")%>>
				<a href="/reports/closing-balance">Post-Closing Trial Balance</a>
			</li>-->
			<li <%- (path.indexOf("/reports/balance-sheet") == 0 ? 'class="active"' : "")%>>
				<a href="/reports/balance-sheet">Balance Sheet</a>
			</li>
		</ul>
	</li>
	<% if (user.permissions['employee.edit']) { %>
	<li <%- (path.indexOf("/employee") == 0 ? 'class="active"' : "")%>>
		<a href="/employees">Employees</a>
	</li>
	<% } %>
	<li <%- (path.indexOf("/eventlog") == 0 ? 'class="active"' : "")%>>
		<a href="/eventlog">Event Log</a>
	</li>
	<hr>
	<li>
		<a href="/logout">Logout</a>
	</li>
</ul>
