<ul class="sidebar-nav">
	<li class="sidebar-brand">
		SWE4713 - Accounting
	</li>
	<li <%- (path.indexOf("/account") == 0 ? 'class="active"' : "")%>>
		<a href="/accounts">Accounts</a>
	</li>
	<li <%- (path.indexOf("/ledger") == 0 ? 'class="active"' : "")%>>
		<a href="/ledger">Ledger</a>
	</li>
	<li class="parent">
		<a>Reports</a>
		<ul>
			<li <%- (path.indexOf("/reports/trial-balance") == 0 ? 'class="active"' : "")%>>
				<a href="/reports/trial-balance">Trial Balance</a>
			</li>
			<li <%- (path.indexOf("/reports/income-statement") == 0 ? 'class="active"' : "")%>>
				<a href="/reports/income-statement">Income Statment</a>
			</li>
		</ul>
	</li>
	<% if (user.permissions['employee.edit']) { %>
	<li <%- (path.indexOf("/employee") == 0 ? 'class="active"' : "")%>>
		<a href="/employees">Employees</a>
	</li>
	<% } %>
	<hr>
	<li>
		<a href="/logout">Logout</a>
	</li>
</ul>
