<nav>
	<ul class="pager">
		<% if (page > 1) { %><li class="previous"><a href="<%=path%>?page=<%=page - 1%>">&larr; Previous Page</a></li><% } %>
		<% if (page == 1) { %><li class="previous disabled"><a>&larr; Previous Page</a></li><% } %>
		<li style="line-height: 35px;">Page <%=page%> of <%=totalPages%></li>
		<% if (page < totalPages) { %><li class="next"><a href="<%=path%>?page=<%=page + 1%>">Next Page &rarr;</a></li><% } %>
		<% if (page == totalPages) { %><li class="next disabled"><a>Next Page &rarr;</a></li><% } %>
	</ul>
</nav>

<script>
	var sortText = "<%=sort.toLowerCase()%>"
	function updateQueryStringParameter(uri, key, value) {
		var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i"); 
		var separator = uri.indexOf('?') !== -1 ? "&" : "?"; 
		if (uri.match(re)) { 
			return uri.replace(re, '$1' + key + "=" + value + '$2'); 
		}
		else { 
			return uri + separator + key + "=" + value; 
		}
	}
	
	$(".sort").each(function (i, elem) {
		var e = $(elem);
		var column = e.attr("data-column").toLowerCase();
		var sortedOnThisColumn = false;
		var asc = false;
		if (sortText.indexOf(column) != -1) {
			sortedOnThisColumn = true;
			if (sortText.indexOf("-") == 0) {
				e.addClass("desc");
			}
			else {
				e.addClass("asc");
				asc = true;
			}
		}
		
		e.click(function () {
			location.search = updateQueryStringParameter(location.search, "sort", (asc ? "-" : "") + column);
		})
	})
</script>