<%- include('partials/header') %>

<div class="title">Account: <%= title %></div>
<div class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label">Account Number</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" name="AccountNumber" value="<%=account.AccountNumber%>" <%=!isNew ? "readonly" : ""%>>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Account Name</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="AccountName" value="<%=account.AccountName%>" <%= transactions.length ? "readonly" : ""%>>
		</div>
	</div>
	<div class="form-group">
		<label for="inputAccountNumber" class="col-sm-2 control-label">Account Type</label>
		<div class="col-sm-10">
			<select class="form-control" name="AccountType" <%= transactions.length ? "disabled" : ""%>>
				<% for (var accountType of accountTypes) { %>
					<option value="<%=accountType.AccountType%>" <%-account.AccountType && (account.AccountType.AccountType == accountType.AccountType ? "selected" : "")%>>
						<%=accountType.toString()%>
					</option>
				<% } %>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Sub Account Type</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="SubAccountType" value="<%=account.SubAccountType%>" <%= transactions.length ? "readonly" : ""%>>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Sort Order</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" name="SortOrder" value="<%=account.SortOrder || 0%>" <%= transactions.length ? "readonly" : ""%>>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Active</label>
		<div class="col-sm-10">
			<input type="checkbox" class="form-control" name="Active" <%=(account.Active ? 'checked' : '')%> <%= transactions.length ? "disabled" : ""%>>
		</div>
	</div>
	
	<div class="form-group">
		<div class="alert alert-danger" id="error" style="display:none"></div>
		<div class="col-sm-6">
			<button type="submit" class="btn btn-default" onclick="history.back()">Back</button>
		</div>
		<div class="col-sm-6 text-right">
			<% if (isNew || !transactions.length) { %>
			<button type="submit" id="save" class="btn btn-primary"><%=(isNew ? "Create" : "Save")%></button>
			<% } %>
		</div>
	</div>
</div>
<hr>
<% if (!isNew) { %>
	<span class="title">Transactions</span>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Entry Id</th>
				<th>Date</th>
				<th>Entry</th>
				<th class="text-right">Value</th>
				<th class="text-right">Balance</th>
			</tr>
		</thead>
		<% balance = 0 %>
		<% for (var transaction of transactions) { %>
		<% balance += transaction.Value %>
			<tr>
				<td><a href="/entry/<%=transaction.EntryId%>">#<%=transaction.EntryId%></a></td>
				<td><%=dateFormat(transaction.CreatedDate,'LL')%></td>
				<td><a href="/entry/<%=transaction.EntryId%>"><%=transaction.Description%></a></td>
				<td class="text-right"><%-balanceFormat(transaction.Value)%></td>
				<td class="text-right"><%-balanceFormat(balance)%></td>
			</tr>
		<% } %>
		<% if (transactions.length == 0) { %>
			<tr>
				<td colspan="5" class="text-center text-muted">No Entries</td>
			</tr>
		<% } %>
	</table>
<% } %>

<script>
	var accountTypes = <%-JSON.stringify(accountTypes)%>;
	var account = <%-JSON.stringify(account)%>;
	
	$("#save").click(function () {
		$("#error").hide();
		
		var formData = {
			AccountNumber: +$("input[name=AccountNumber]").val(),
			AccountType: $("select[name=AccountType]").val(),
			SubAccountType: $("input[name=SubAccountType]").val(),
			AccountName: $("input[name=AccountName]").val(),
			SortOrder: +$("input[name=SortOrder]").val(),
			Active: !!$("input[name=Active]").prop('checked')
		}
		
		var accountType = accountTypes.filter((at) => at.AccountType == formData.AccountType)[0];
		if (!accountType) return;
		
		if (formData.AccountNumber < accountType.MinCode || formData.AccountNumber > accountType.MaxCode) {
			$("#error").show().text("Account Number out of range. Must be between " + accountType.MinCode + " and " + accountType.MaxCode)
			return;
		}
		
		$.ajax({
			method: "POST",
			url: "/account/" + (account.AccountNumber ? account.AccountNumber : "new"),
			dataType: "json",
			data: formData,
			success: function (data, text) {
				console.log(arguments);
				location.href = "/accounts"
			},
			error: function (request, status, error) {
				console.error(error);
				$("#error").show().text(request.responseText);
			}
		})
	})
	
	$("#delete").click(function () {
		if (confirm("Are you sure you want to delete " + account.AccountName + "?")) {
			$.ajax({
				method: "DELETE",
				url: "/account/" + account.AccountNumber,
				success: function (data, text) {
					console.log(arguments);
					location.href = "/accounts"
				},
				error: function (request, status, error) {
					console.error(error);
					$("#error").show().text(request.responseText);
				}
			})
		}
	})
</script>

<%- include('partials/footer') %>