<%- include('partials/header') %>
<span class="title"><%= title %></span>
<table class="table table-condensed table-hover table-striped">
	<thead>
		<tr>
			<th class="sort" data-column="Timestamp">Timestamp</th>
			<th>Employee</th>
			<th class="sort" data-column="Description">Description</th>
		</tr>
	</thead>
	<% for (var eventLog of eventLogs) { %>
		<tr>
			<td><%=dateFormat(eventLog.Timestamp)%></td>
			<td><a href="/employee/<%=eventLog.EmployeeId%>"><%=eventLog.employee.Username%></a></td>
			<td><%=eventLog.Description%></td>
		</tr>
	<% } %>
</table>
<%- include partials/paginator %>
<%- include('partials/footer') %>
