<%- include('partials/header') %>
<div class="row">
	<div class="col-xs-6">
		<span class="title"><%= title %></span>
	</div>
	<div class="col-xs-6 text-right">
		<a class="btn btn-primary" href="/journal/new">New Journal</a>
	</div>
</div>
<table class="table table-condensed table-hover table-striped">
	<thead>
		<tr>
			<th></th>
			<th>Description</th>
			<th>Credits</th>
			<th>Debits</th>
			<th></th>
		</tr>
	</thead>
	<% for (var journal of journals) { %>
		<% 
			var totalDebits = 0;
			var totalCredits = 0;
			
			for (var entries of journal.entries) {
				for (var transaction of entries.transactions) {
					if (transaction.account.AccountType.IncreaseEntry == "CREDIT") {
						totalCredits += transaction.Value;
					}
					else {
						totalDebits += transaction.Value;
					}
				}
			}
		%>
		<tr>
			<td style="width:100px"><% if (journal.Closed) { %>
				<div class="label label-success">Closed</div>
			<% } else { %>
				<div class="label label-info">Open</div>
			<% } %></td>
			<td><%= journal.Description %></td>
			<td><%= balanceFormat(totalDebits) %></td>
			<td><%= balanceFormat(totalCredits) %></td>
			<td>
				<a class="btn btn-sm btn-link pull-right" href="/journal/<%=journal.JournalId%>">Edit</a>
			</td>
		</tr>
	<% } %>
	<% if(journals.length == 0) { %>
		<tr><td colspan="3" class="text-center text-muted">No past journals</td></tr>
	<% } %>
</table>

<%- include('partials/footer') %>
