<%- include('partials/header') %>

<div class="title">Journal: <%= title %></div>
<% if (message) { %><div class="alert alert-info"><%= message %></div><% } %>
<div class="container">
	<div class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-2 control-label">Description</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="Description" value="<%=journal.Description%>">
			</div>
		</div>
		<div class="form-group">
			<div class="alert alert-danger" id="error" style="display:none"></div>
			<div class="col-sm-offset-2 col-sm-10 text-right">
				<% if (!isNew) { %>
					<% if (journal.Closed) { %>
						<button id="reopen" class="btn btn-warning pull-left" <%-(canBeOpened ? "" : "disabled")%>>Reopen</button>
					<% } else { %>
						<button id="close" class="btn btn-warning pull-left">Close</button>
					<% } %>
				<% } %>
				<button type="submit" id="save" class="btn btn-primary"><%=(isNew ? "Create" : "Save")%></button>
			</div>
		</div>
	</div>
	<% if (!isNew) { %>
	<%
		var totalDebits = 0;
		var totalCredits = 0;
		
		for (var entries of journal.entries) {
			for (var transaction of entries.transactions) {
				if (transaction.account.AccountType.IncreaseEntry == 'DEBIT' && transaction.Value >= 0 || transaction.account.AccountType.IncreaseEntry == 'CREDIT' && transaction.Value < 0) {
					totalCredits += Math.abs(transaction.Value);
				}
				else {
					totalDebits += Math.abs(transaction.Value);
				}
			}
		}
	%>
	<hr>
	<div class="row">
		<div class="col-xs-6">
			<span class="title">Entries</span>
		</div>
		<div class="col-xs-6 text-right">
			<a class="btn btn-success" href="/entry/new" <%=(journal.Closed ? "disabled" : "")%>>New Entry</a>
		</div>
	</div>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Date</th>
				<th>Detail</th>
				<th style="text-align:right">Debit</th>
				<th style="text-align:right">Credit</th>
				<th></th>
			</tr>
		</thead>
		<% for (var entry of journal.entries) { %>
			<tr>
				<td rowspan="<%= entry.transactions.length + 1 %>"><%=dateFormat(entry.CreatedDate)%></td>
				<% for (var i in entry.transactions) { var transaction = entry.transactions[i]; %>
					<td><a href="/account/<%=transaction.account.AccountNumber%>"><%=transaction.account.AccountName%></a></td>
					<td style="text-align:right">
						<% if (transaction.account.AccountType.IncreaseEntry == 'DEBIT' && transaction.Value >= 0 || transaction.account.AccountType.IncreaseEntry == 'CREDIT' && transaction.Value < 0) { %>
							<%=balanceFormat(transaction.Value)%>
							</td><td></td>
						<% } else { %>
							</td><td style="text-align:right">
							<%=balanceFormat(transaction.Value)%>
							</td>
						<% } %>
					</td>
					<% if (i == 0) { %>
						<td rowspan="<%= entry.transactions.length + 1 %>" class="text-right"><a class="btn btn-link" <%- (journal.Closed ? "disabled" : 'href="/entry/' + entry.EntryId + '"') %> >Edit</a></td>
					<% } %>
			</tr>
			<tr>
				<% } %>
				<td><%=entry.Description%></td>
				<td></td>
				<td></td>
				<% if (entry.transactions.length == 0) { %><td rowspan="<%= entry.transactions.length + 1 %>" class="text-right"><a class="btn btn-link" <%- (journal.Closed ? "disabled" : 'href="/entry/' + entry.EntryId + '"') %> >Edit</a></td><% } %>
			</tr>
			<!--<tr><td colspan="6" style="border-top: solid 2px #ddd"></td></tr>-->
		<% } %>
		<tr>
			<td></td>
			<td></td>
			<td style="border-top:4px double #999;text-align:right"><%=balanceFormat(totalCredits)%></td>
			<td style="border-top:4px double #999;text-align:right"><%=balanceFormat(totalDebits)%></td>
			<td></td>
		</tr>
		<% if (journal.entries.length == 0) { %>
			<tr><td colspan="6" class="text-center text-muted">No entries</td></tr>
		<% } %>
	</table>
	<% } %>
</div>

<script>
	var journal = <%-JSON.stringify(journal) %>;

	$("#save").click(function () {
		$("#error").hide();

		var formData = {
			JournalId: journal.JournalId,
			Description: $("input[name=Description]").val(),
			Closed: journal.Closed
		}

		$.ajax({
			method: "POST",
			url: "/journal/" + (journal.JournalId ? journal.JournalId : "new"),
			dataType: "json",
			data: formData,
			success: function () {
				if (journal.JournalId) location.reload()
				else if (journal.Closed) location.href = "/journals"
				else location.href = "/journal/current"
			},
			error: function (request, status, error) {
				console.error(error);
				$("#error").show().text(request.responseText);
			}
		})
	})

	// <% if (canBeOpened) { %>
	$("#reopen").click(function () {
		$("#error").hide();

		if (confirm("Are you sure you want to reopen " + journal.Description + "?")) {
			var formData = {
				JournalId: journal.JournalId,
				Description: journal.Description,
				Closed: false
			}

			$.ajax({
				method: "POST",
				url: "/journal/" + (journal.JournalId ? journal.JournalId : "new"),
				dataType: "json",
				data: formData,
				success: function () {
					location.href = "/journal/current";
				},
				error: function (request, status, error) {
					console.error(error);
					$("#error").show().text(request.responseText);
				}
			})
		}
	})
	// <% } %>
	
	// <% if (!journal.Closed) { %>
	$("#close").click(function () {
		$("#error").hide();

		if (confirm("Are you sure you want to close " + journal.Description + "? This will post all entries to their accounts.")) {
			var formData = {
				JournalId: journal.JournalId,
				Description: journal.Description,
				Closed: true
			}

			$.ajax({
				method: "POST",
				url: "/journal/" + journal.JournalId,
				dataType: "json",
				data: formData,
				success: function () {
					if (journal.JournalId) location.href = "/journal/" + journal.JournalId
					else location.href = "/journals";
				},
				error: function (request, status, error) {
					console.error(error);
					$("#error").show().text(request.responseText);
				}
			})
		}
	})
	// <% } %>

</script>

<%- include('partials/footer') %>